body {
	background-color: rgb(44, 43, 47  ); /*211, 213, 236);*/
}

/*navigation*/
.navigation{
	background-color: rgb(69, 73, 125 );
	width: auto;
	height: 40px;
	margin: 20px;
	padding-top: 15px;
	border: 1px solid white;
}

.navigation a{
    color: white;
	font-size: 20px;
	margin-left:20px;
	padding: 10px;
	text-decoration:none;
}

.navigation a:hover{
	  background-color: rgb(186, 181, 232);
}

/*MyContacts*/
h1{
	color:white;
	margin-left: 20px;
}
h2{
	color:white;
	margin-left: 150px;
}
h3{
	color:grey;
	margin-left: 500px;
}
h4{
	color: grey;
	margin-left: 20px;
}
h5{
	color:white;
	margin-left: 20px;
}

table, th, td {
	border: 1px solid black;
	margin-left: 20px;
	height: 30px;
	border-collapse: collapse;
}

th, td {
	text-align: center;
}

tr:nth-child(odd){
	background-color: rgb(198, 201, 240);
}
tr:nth-child(even){
	background-color: white;
}

tr:hover{
  background-color: rgb(186, 181, 232);
}

.contactdiv{
	float:left;
	width:60%;
}

.imgdiv{
	float: right;
	margin-left:40px;
	margin-top:10px;
	width: 500px;
}

img {
	float: right;
	margin-left:40px;
	margin-top:10px;
	width: 200px;
}




.styleimg{
	width: 20px;
	display: none;
}

tr:hover img{
	display:block;
}

/*Form Input*/
.form{
	background-color: white;
	border-radius: 5px;
	width:26%;
	height:480px;
	margin-left:500px;
	margin-top: 50px;
}

.form form{
	height: 500px;
	padding-top: 10px;
	text-align: center;
}

.form label{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	margin:5px;
	width: 90%;
	text-align: left;
	float:left;
}

.form input,select{
    width: 50%;
    height: 35px;
    float: right;
    border-radius: 5px;
    border: 1px solid gray;
}

.button{
	background-color: lightgreen;
	margin-top: 25px;
	margin-right:10px;
	border-radius: 5px;
}

/*MyWidgets*/
.widgetH1{
	color: white;
	text-align: center;
	text-decoration: underline;
}

.div1{
	margin-left: 5%;
	margin-top: 10px;
	float: left;
	width: 45%;
}

.div2{
	background-color:rgb(128, 107, 191 );
	width: 40%;
	height: 300px;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 100px;
	color:white;
	border: 2px solid white;
	text-align:center;
	font-size: 30px;
}
.div2 input{
	height:30px;
	width: 250px;
}

.div3{
	width: 40%;
	float: left;
	margin-left: 50px;
}

.div4{
	margin-left: 50px;;
	float: right;
	width: 45%;
}
